header{
	background-color: #299955;
	padding:40px;
	text-align: center;
}

h1{font-size: 90px;
color: white;

}

header img{
	border-radius: 150px;

}


/*<header>
     </div>
     	<img src="img/profile.jpg">
     	<h1>wreck-it ralph</h1>*/